.home {
    position: absolute;
    top: 0;
    left: 250px; /* Default position when sidebar is open */
    height: 100vh;
    width: calc(100% - 250px); /* Default width when sidebar is open */
    background-color: var(--body-color);
    transition: left var(--tran-05), width var(--tran-05); /* Smooth transition for left and width */
}

.home.sidebar-closed {
    left: 88px; /* Adjust this value to match the closed sidebar width */
    width: calc(100% - 88px); /* Adjust width when sidebar is closed */
}


.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}